<div class="container">
  <div class="post row col-xs-12">
    <table class="table table-hover table-inverse">
      <thead>
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th colspan="4"></th>
          </tr>
      </thead>
      <div class="col-12">
        <tbody>
          <% @posts.each do |post| %>
            <tr>
              <td><%= attachment_image_tag(@seniors, :profile_image, :fill, 30, 30, fallback: "no-image-icon.jpg") %></td>
              <td><%= @seniors.name %></td>
              <td><%= attachment_image_tag post, :image, :fill, 100, 100, format: 'jpeg' %></td>
              <td><%= post.body %></td>
              <td><%= post.created_at.to_s(:datetime_base) %></td>
              <td><%= link_to "#{post.post_comments.count} コメント", post_path(post.id) %></td>
              <td><%= link_to "詳細" , post, class: 'btn btn-outline-info' %></td>
              <td><%= link_to "削除" , post, class: 'btn btn-outline-info', method: :delete, data: {confirm: "投稿記事を削除しますか？", cancel: "キャンセル", commit: "削除する", title: "削除の確認"} %></td>
            </tr>
          <% end %>
        </tbody>
      </div>
    </table>
  </div>
</div>