$('#post_comments').html(
  `<% @post_comments.each do |post_comment| %>
      <li class="comment">
        <div class="comment-body bb">
          <div class="comment-text">
            <% if post_comment.senior %>
              <div class="comment-author clearfix">
                <a href="#" class="link-author"><%= post_comment.senior.name %></a>
                <span class="comment-meta">
                 <span class="comment-date"><%= post_comment.created_at.strftime('%Y/%m/%d') %></span>
                </span>
              </div>
              <div class="comment-entry"><%= post_comment.comment %></div>
              <div class="comment-destroy">
                <% if post_comment.senior == current_senior %>
                 <div>
                   <%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), remote: true, method: :delete, class: "btn btn-danger pull-right" %>
                 </div>
                <% end %>
              </div>
                <% else %>
              <div class="comment-author clearfix">
                <a href="#" class="link-author"><%= post_comment.junior.name %></a>
                <span class="comment-meta">
                 <span class="comment-date"><%= post_comment.created_at.strftime('%Y/%m/%d') %></span>
                </span>
              </div>
              <div class="comment-entry"><%= post_comment.comment %></div>
               <div class="comment-destroy">
                  <% if post_comment.junior == current_junior %>
                 <div>
                   <%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), remote: true, method: :delete, class: "btn btn-danger pull-right" %>
                 </div>
                  <% end %>
               </div>
            <% end %>
          </div>
        </div>
      </li>
    <% end %>`
)