<br>
<div class="container">
  <h2>プロフィール</h2>
  <%= link_to ' プロフィール編集', edit_profile_path(@senior.id), class: 'btn btn-primary glyphicon glyphicon-user' %>
</div>
<div class="container">
  <div class="row">
    <table class="table table-hover table-inverse">
        <thead>
            <tr>
              <th></th>
              <th>名前</th>
              <th>ふりがな</th>
              <th>生年月日</th>
              <th>住所</th>
              <th>電話番号</th>
              <th colspan="4"></th>
            </tr>
        </thead>
      <div class="col-12">
        <tbody>
            <tr>
              <td><%= attachment_image_tag @senior, :profile_image, :fill, 200, 200, format: 'jpeg' %></td>
              <td><h3><%= @senior.name %></h3></td>
              <td><h3><%= @senior.name_kana %></h3></td>
              <td><h4><%= @senior.birth_date %></h4></td>
              <td><h4><%= @senior.address %></h4></td>
              <td><h4><%= @senior.phone_number %></h4></td>
            </tr>
        </tbody>
      </div>
    </table>
  </div>
</div>