<div class=container>
  <dev class=row>
      <%= attachment_image_tag @post, :image, :fill, 400, 400, format: 'jpeg' %>
      <h2><%= @post.body %></h2>

      <!--senior編集-->
      <% if senior_signed_in? && @post.senior_id == current_senior.id %>
       <td><%= link_to "編集" , edit_post_path, class: 'btn btn-success' %></td>
      <% end %>

      <!--juniorいいね-->
    <div id="favoreites">
      <% if junior_signed_in?  %>
      <% if @post.favorited_by?(current_junior) %>
        <li>
          <%= link_to post_favorites_path(@post), remote: true, method: :delete do %>
            <i class="glyphicon glyphicon-heart" aria-hidden="true" style="color: red;"></i>
          <%= @post.favorites.count %> いいね
        <% end %>
        </li>
        <% else %>
        <li>
          <%= link_to post_favorites_path(@post), remote: true, method: :post do %>
            <i class="glyphicon glyphicon-heart" aria-hidden="true"></i>
          <%= @post.favorites.count %> いいね
        <% end %>
        </li>
        <% end %>
      <% end %>
    </div>

    <div class="comment-list bt style-2" id="comments">
      <div class="float-wrapper">
        <h3 class="comment-count"><%= @post.post_comments.count %>件コメント</h3>
      </div>
        <%= form_with(model:[@post, @post_comment]) do |f| %>
          <div class="row">
            <div class="col-sm-12">
              <%= f.text_area :comment, rows:'2', class: "form-control",placeholder: "コメントをここに" %>
            </div>
          </div>
              <%= f.submit "送信する", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
        <% end %>
    </div>

  <div class="row">
    <ol id="post_comments">
    <% @post.post_comments.each do |post_comment| %>
      <li class="comment">
        <div class="comment-body bb">
          <div class="comment-text">
            <% if post_comment.senior %>
              <div class="comment-author clearfix">
                <a href="#" class="link-author"><%= post_comment.senior.name %></a>
                <span class="comment-meta">
                 <span class="comment-date"><%= post_comment.created_at.strftime('%Y/%m/%d') %></span>
                </span>
              </div>
              <div class="comment-entry"><%= post_comment.comment %></div>
              <div class="comment-destroy">
                <% if post_comment.senior == current_senior %>
                 <div>
                   <%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), remote: true, method: :delete, class: "btn btn-danger pull-right" %>
                 </div>
                <% end %>
              </div>
                <% else %>
              <div class="comment-author clearfix">
                <a href="#" class="link-author"><%= post_comment.junior.name %></a>
                <span class="comment-meta">
                 <span class="comment-date"><%= post_comment.created_at.strftime('%Y/%m/%d') %></span>
                </span>
              </div>
              <div class="comment-entry"><%= post_comment.comment %></div>
               <div class="comment-destroy">
                  <% if post_comment.junior == current_junior %>
                 <div>
                   <%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), remote: true, method: :delete, class: "btn btn-danger pull-right" %>
                 </div>
                  <% end %>
               </div>
            <% end %>
          </div>
        </div>
      </li>
    <% end %>
    </ol>
  </div>

  <!--senior戻る-->
  <% if senior_signed_in? && @post.senior_id == current_senior.id %>
   <td><%= link_to "戻る", posts_path, class: 'btn btn-outline-info' %></td>
  <% end %>

</div>